/* Navbar */
.top-nav {
    height: 70px;
    padding: 20px;
}

a {
    font-size: 14px;
    color: #665050;
}

a:hover {
    font-size: 16px;
    color: black;
    text-decoration: line-through;
}

a:active {
    font-size: 16px;
    color: #22CD13;
}

/* Header */
#camping-background {
    right: 0;
    left: 0;
    width: 100%;
    height: 700px;
    position: absolute;

} 

.header { 
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
} 

#title {
    color: #393333;
    text-align: center;
    font-size: 115px;
    margin-top: 150px;
}

#lead-in {
    margin-top:70px;
    text-align: center;
    color: white;
    position: relative;
    font-family: 'Maven Pro', sans-serif;
    font-weight: lighter;

}


/* About */
.icon {
    width: 70px;
    height: 70px;
    margin-bottom: 40px;

}

h4{
    font-size: 42px;
    padding: 40px;
    margin-bottom: 70px;
    border-bottom: greenyellow;
}

.steps {
    margin-bottom: 40px;
}

.animated bounce {
    animation-duration: 10s;
}

/* Start */

#ready {
    font-size: 24px; 
    margin-top: 250px;
    margin-bottom: 50px;
}



.btn-begin {
    border: 2px solid greenyellow;
    border-radius: 0;
    height: 50px;
    width: 120px;
    margin-top: 30px;
    margin-bottom: 200px;
}

.btn-begin:hover {
    background-color: #393333;
}

.parkButton {
    border: 1px solid greenyellow;
    padding: 2%;
    margin: 10px;
    }
    
    .parkButton:hover {
       border: 1px solid black;
       color: white;
       background-color: #393333;
       cursor: pointer;
    }
    
    
    h5 {
       margin-left: 20% !important;
       margin-right: 20% !important;
       width: 60%;
       font-size: 14px;
       font-weight: 300;
       margin: 5%;
       color: #393333;
    }
    
    .stuff {
       margin-top: 100px;
       align-content: center;
       margin-bottom: 50px;
       text-align: center;
    }

#state {
    cursor: pointer;
    border: solid greenyellow;
    border-radius: 0;

}

#options:selected {
    cursor: pointer;
}

.state-container {
    cursor: pointer;
}

/* Footer */
.about-container {
    color: black;
    margin-top: 400px;
    text-align: center;
}

/*JavaScript */
/*Question Div */
 .questionClass {
    color: #4D504C;
    text-align: center;
    font-size: 32px;
    margin-top: 150px;
    font-weight: 400;
 }

 .answerOptionDiv {
    color: #C6E881;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin: 10px;
  
 }



/* Footer */
.footer {
    color: black; 
    width: 100%;
}


.stuff {
    align-content: center;
    margin-bottom: 50px;
    text-align: center;
}

#ready {
    text-align: center;
}

.btn-begin {
    text-align: center;
}


.finalImage {
    height: 422px;
    width: 690px;
}

.starInfo {
    width: 690px;
    text-align: center;
    /* background-image: url("https://images.unsplash.com/photo-1518066000714-58c45f1a2c0a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3c11bb4d0a0cb5cf4133b2aa4f929f14&w=1000&q=80") */
}

.starTable {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
    color: white;
}

h2 {
    font-size: 40px;
    margin: 5%;
    border-bottom: #22CD13;
}

.map {
       height: 400px;
       width: 100%;
}

.skyLink {
    font-size: 50px;
    color: #665050;
    background-image: url("https://images.unsplash.com/photo-1518066000714-58c45f1a2c0a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3c11bb4d0a0cb5cf4133b2aa4f929f14&w=1000&q=80")
}

.skyLink:hover {
    font-size: 55px;
    text-decoration: none;
    color: white;

}


.finalImage {
    height: 422px;
    width: 690px;
    /* margin-bottom: 20px; */
}

.starInfo {
    width: 690px;
    text-align: center;
    background-image: url("https://cdn.pixabay.com/photo/2016/06/05/07/59/stars-1436950_960_720.jpg")
}

.starTable {
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
    color: #665050;
}

h2 {
    font-size: 40px;
    margin: 5%;
    border-bottom: #22CD13;
}

.map {
    height: 400px;
    width: 100%;
    margin-top: 20px;
}

.skyLink {
    font-size: 50px;
    color: rgb(36, 141, 202);
}


.skyLink:hover {
    font-size: 55px;
    text-decoration: none;
    color: white;
}

.starTable {
    color: white;
} 

@media all and (max-width: 480px) { 
 #title {
     font-size: 72px;
 }

 #camping-background {
     height: 600px;
 }
}

/* .parkButton {
    border: 1px solid greenyellow;
    padding: 1%;
    margin: 10px;
    }
    
h2 {
    margin: 5%;
}

.parkButton:hover {
    border: 1px solid black;
    color: white;
    background-color: #393333;
}


h5 {
    margin-left: 20% !important;
    margin-right: 20% !important;
    width: 60%;
    font-size: 14px;
    font-weight: 300;
    margin: 5%;
    color: #393333;
}

.stuff {
    margin-top: 50px;
    align-content: center;
    margin-bottom: 50px;
    text-align: center;
}

#state {
    margin-left: 45%;
    margin-right: 50%;
    background-color: greenyellow;
}

.stateId {
    background-color: greenyellow;
}

p {
    line-height: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
*/

